@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>
<br />
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://dl.dropboxusercontent.com/s/16ct8klmm583eia/casual-life-3d-likes.png" alt="Student Icon Card" width="100%" height="50%">
        <div class="card-body text-center">
            <h5 class="card-title">Estudiantes</h5>
            <a href="/students" class="btn btn-primary">Access</a>
        </div>
        <div class="card-footer text-center" ">
            <small class="text-muted">Seccion para estudiantes</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://dl.dropboxusercontent.com/s/ibk1og2oiyn2bn5/casual-life-3d-15.pns" alt="Teacher Icon Card" width="100%" height="50%">
        <div class="card-body text-center">
            <h5 class="card-title">Profesores</h5>
            <a href="/teachers" class="btn btn-primary">Access</a>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">Seccion para profesores</small>
        </div>
    </div>
    @*<div class="card">
        <img class="card-img-top" src="https://dl.dropboxusercontent.com/s/nnga3utxwjwnnvj/exam.png" alt="Teacher Icon Card" width="100%" height="50%">
        <div class="card-body text-center">
            <h5 class="card-title">Calificaciones</h5>
            <a href="/Scores" class="btn btn-primary">Access</a>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">Seccion para Calificaciones</small>
        </div>
    </div>*@
    <div class="card">
        <img class="card-img-top" src="https://dl.dropboxusercontent.com/s/xw45id5hm0j0iqt/casual-life-3d-pile-of-books.png" alt="Teacher Icon Card" width="75%" height="50%">
        <div class="card-body text-center">
            <h5 class="card-title">Asignaciones</h5>
            <a href="/Subjects" class="btn btn-primary">Access</a>
        </div>
        <div class="card-footer text-center">
            <small class="text-muted">Seccion para Asingaciones</small>
        </div>
    </div>
</div>
<hr />

