@model Indice_Academico.Data.Entity.Subject

@{
    ViewData["Title"] = "Editar";
}

<div class="">
    <h1 class=" ">Editar Asignatura</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Codigo</label>
                <input asp-for="SubjectCode" class="form-control" />
                <span asp-validation-for="SubjectCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Credito</label>
                <input asp-for="Credit" class="form-control" />
                <span asp-validation-for="Credit" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Codigo del Profesor</label>
                <input asp-for="Teacher.TeacherCode" class="form-control" />
                <span asp-validation-for="Credit" class="text-danger"></span>
            </div>
            <div>
                <a type="button" value="Cancelar" asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
